.heading{
    top: 100%;
    width: 100%;
}

body{
    background-size: cover;
}

.CHOOSE{
    font-family: cursive;
    width: 100%;
}

.heading1{
    width: 87%;
}

.CHOOSE2{
    width: 87%s;
}

.kbd_tag{
    font-size: larger;
}
